body {
    background-color: black;
}

hr {
    border-color: rgb(148, 148, 148);
}

h1, label {
    color: rgb(221, 221, 221);
}

div.cont-bombilla {
    position: relative;
    height: 700px;
    width: 535px;
}

div.bombilla {
    position: absolute;
    margin: 0 auto;
    height: 700px;
    width: 535px;
}

div.cont-switch {
    position: relative;
    height: 85px;
    width: 85px;
}

div.switch {
    position: absolute;
    margin: 0 auto;
    height: 85px;
    width: 85px;
}

div.switch:hover {
    cursor: pointer;
}

img.ocultar {
    display: none;
}

div.potenciometro {
    max-width: 400px;
    margin-top: 20px;
}
