

div.circulo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: inline-block;
    margin: 20px;
    background-color: grey;
}

div.circulo.a.naranja {
    background-color: orange;
}

div.circulo.b.rojo {
    background-color: red;
}

div.circulo.clickable:hover {
    cursor: pointer;
    background-color: rgb(165, 165, 165)
}

