.center {
    text-align: center;
}

.bold {
    font-weight: bold;
    font-size: 1.2rem;
}

div.circulo {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 0 2%;
    background-color: hotpink;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 110px;
}

button.large {
    height: 100%;
    margin: 0 2px;
}

a.pag {
    width: 71px;
    text-align: center;
}