

button.center-button {
    margin-top: 32px;
    margin-left: 20px;
}

div.textOutput2 {
    text-align: center;
    border: 2px solid blue;
    margin: 2px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}