

body {
    padding: 1rem 0;
}

p.vspace80 {
    margin-top: 80px;
}

p.vspace50 {
    margin-top: 50px;
}

p.vspace30 {
    margin-top: 30px;
}

div.links {
    display: flex;
    position: relative
}

a.nextExercise {
    display: inline-block;
    position: absolute;
    right: 0px;
    padding: 5px;
    font-size: 20px;
}

a.prevExercise {
    display: inline-block;
    position: absolute;
    left: 0px;
    padding: 5px;
    font-size: 20px;
}